.loading-spinner {
    width: 50px;
    height: 50px;
    border: calc(50px/5) solid #f3f3f3;
    border-top-color: skyblue;
    border-radius: 50%;
    box-sizing: border-box;
    animation: loading 0.75s linear infinite;
}

@keyframes loading {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(1turn);
    }
}